body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #222;
    background: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    display: inline-block;
    float: right;
}


.navbutts {
    padding-top: 5px;
    vertical-align: top;
    float: right;
    padding-right: 15px;
    display: inline;
    text-align: center;
}

.navbutts:hover {
    text-decoration: underline;
}

.button1 {
    background: #4683ea;
}

#signin {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 13pt;
    margin-right: 23px;
    text-decoration: none;
    border: 1px solid #4285f4;
    border-radius: 2px;
    line-height: 28px;
    width: 69px;
    font-size: 13px;
    font-weight: bold;
    background: #4683ea;
}

h1, h2, form {
    text-align: center;
}

h1 {
    padding-top: 139px;
}

.searchbar {
    font-size: 15px;
    width: 484px;
    height: 44px;
    margin: 0 auto;
    padding-left: 40px;
    box-shadow: none;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0);
}

.buttons {
    padding-top: 18px;
}

.subbuttons {
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    color: #5F6368;
    text-align: center;
}

.subbuttons:hover {
    border: 1px solid #b9babd;
}

.lang {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 400;
    text-decoration: none;
}

#chinese, #malay, #hindu {
    color: darkblue;
}


#chinese:hover, #malay:hover, #hindu:hover {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
    color: #5f6368;
    font-size: 13pt;
    width: 1920px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 24px;
    position: absolute;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
}

#country {
    font-size:11pt;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerbutts {
    border-top: 1px solid #dfe1e5;
    
    margin-left: -28px;
    margin-right: 30px;
}

.footer1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    color: #5F6368;
    font-size: 10pt;
    margin-left: 30px;
    float: left;
}

.footer2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    color: #5F6368;
    font-size: 10pt;
    margin-left: 30px;
    float: right;
}

.footer1:hover, .footer2:hover {
    text-decoration: underline;
}